@model Result

@{
    ViewData["Title"] = "Create";
 }

<div class="container">

    <div class="col-md-auto">
     <h1>Create New Result-Sheet</h1>
    </div>
 
 <br/>

 <form asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="row justify-content-md-center">
                <div class="col-md-auto">


                                 <div class="form-group">
                            <label asp-for="SerialNumber" class="control-label"></label>
                            <input asp-for="SerialNumber" class="form-control" readonly/>
                            <span asp-validation-for="SerialNumber" class="text-danger"></span>
                                 </div>

                                 
                                 <div class="form-group">
                            <label asp-for="StudentName" class="control-label"></label>
                            <input asp-for="StudentName" class="form-control"/>
                            <span asp-validation-for="StudentName" class="text-danger"></span>
                                 </div>

                                        
                                 <div class="form-group">
                            <label asp-for="SubjectId" class="control-label"></label>
                            <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId">
                            <option value="0" selected>--Select--</option>
                                </select>
                          </div>

                           <div class="form-group">
                            <label asp-for="FirstNumber" class="control-label"></label>
                            <input asp-for="FirstNumber" class="form-control"/>
                            <span asp-validation-for="FirstNumber" class="text-danger"></span>
                                 </div>

                          <div class="form-group">
                            <label asp-for="FirstNumberPoint" class="control-label"></label>
                            <input asp-for="FirstNumberPoint" class="form-control"/>
                            <span asp-validation-for="FirstNumberPoint" class="text-danger"></span>
                                 </div>
                             
                            
                          <div class="form-group">
                            <label asp-for="FirstNumberGrade" class="control-label"></label>
                            <input asp-for="FirstNumberGrade" class="form-control"/>
                            <span asp-validation-for="FirstNumberGrade" class="text-danger"></span>
                                 </div>
                             
                                      
                                    
                                 <div class="form-group">
                            <label asp-for="SecondSubjectId" class="control-label"></label>
                            <select asp-for="SecondSubjectId" class="form-control" asp-items="ViewBag.SecondSubjectId">
                            <option value="0" selected>--Select--</option>
                                </select>
                          </div>

                           <div class="form-group">
                            <label asp-for="SecondNumber" class="control-label"></label>
                            <input asp-for="SecondNumber" class="form-control"/>
                            <span asp-validation-for="SecondNumber" class="text-danger"></span>
                                 </div>

                          <div class="form-group">
                            <label asp-for="SecondNumberPoint" class="control-label"></label>
                            <input asp-for="SecondNumberPoint" class="form-control"/>
                            <span asp-validation-for="SecondNumberPoint" class="text-danger"></span>
                                 </div>
                             
                            
                          <div class="form-group">
                            <label asp-for="SecondNumberGrade" class="control-label"></label>
                            <input asp-for="SecondNumberGrade" class="form-control"/>
                            <span asp-validation-for="SecondNumberGrade" class="text-danger"></span>
                                 </div>
                             
                                 
                            
                          <div class="form-group">
                            <label asp-for="TotalNumber" class="control-label"></label>
                            <input asp-for="TotalNumber" class="form-control"/>
                            <span asp-validation-for="TotalNumber" class="text-danger"></span>
                                 </div>
                             
                                          
                            
                          <div class="form-group">
                            <label asp-for="TotalPoint" class="control-label"></label>
                            <input asp-for="TotalPoint" class="form-control"/>
                            <span asp-validation-for="TotalPoint" class="text-danger"></span>
                                 </div>
                             
                                                 
                            
                          <div class="form-group">
                            <label asp-for="TotalGrade" class="control-label"></label>
                            <input asp-for="TotalGrade" class="form-control"/>
                            <span asp-validation-for="TotalGrade" class="text-danger"></span>
                                 </div>

                         
                            
                          <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <input asp-for="Status" class="form-control"/>
                            <span asp-validation-for="Status" class="text-danger"></span>
                                 </div>

    
                          </div>
                          </div>
                        
                          <br />

                 <div class="form-group">

                    <a asp-action="Index"class="btn btn-secondary">Back</a>
                    <input type="submit" value="Create" id="CreateBtn" class="btn btn-primary"/>
                     
         </div>
           
          
            </form>
        
     </div>
                             
                                      
                            
    
 @section Scripts {
     
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
         $('#FirstNumber').change(function () {
            updateCalculation();
        });  
         $('#SecondNumber').change(function () {
            updateCalculation();
        }); 



    function updateCalculation() {
             
            var fstNum = 0;
            var scndNum =0;
            var tNum = 0;
            var status = 0;
             

    fstNum =  $('#FirstNumber').val();
    scndNum =  $('#SecondNumber').val();

        tNum = fstNum + scndNum;

        status = tNum * 0.5;

            $('#TotalNumber').val(tNum);
            $('#Status').val(status);

    }

     $('#CreateBtn').click(function () {
           
            
            var order = {
                SerialNumber: $('#SerialNumber').val(),
                
                SubjectId: $('#SubjectId').val(),
                FirstNumber: $('#FirstNumber').val(),
                FirstNumberGrade: $('#FirstNumberGrade').val(),
                FirstNumberPoint: $('#FirstNumberPoint').val(),
                SecondSubjectId: $('#SecondSubjectId').val(),
                SecondNumber: $('#SecondNumber').val(),
                SecondNumberGrade: $('#SecondNumberGrade').val(),
                SecondNumberPoint: $('#SecondNumberPoint').val(),
                TotalNumber: $('#TotalNumber').val(),
                TotalPoint: $('#TotalPoint').val(),
                TotalGrade: $('#TotalGrade').val(),
                Status: $('#Status').val(),
                
            };

                $.ajax({
                type: "POST",
                url: '@Url.Action("Create")',
                data: order,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (response) {
                    alert("Successfully generated Order");
                    location.reload();
                },
                error: function () {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
            });

                });



          error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest, textStatus, errorThrown);
                },
                complete: function () {
                  
                }
            });
                  
          

    </script>
}
